*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto' sans-serif;
    font-size: 1rem;
    color:rgb(44, 43, 43);
}

/* grid index*/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.grid-section-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-image: url("imagenes/top-contador-publico.jpg");
    background-size: cover;
    height: 100vh;
}

.grid-section-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-section-3 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #fff;

}

.grid-section-4 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #F2F2F2;
}

.grid-section-5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #F2F2F2;
}

.grid-section-6 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #205A92;
}

.grid-section-7 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #205A92;
}

/* grid paginas*/
.grid-pagina-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100vh;
}

.grid-pagina-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: #F2F2F2;
}

.grid-pagina-3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #205A92;

}

.grid-pagina-4 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #205A92;
}


/*Codigo sin grid*/
.servicios-section-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-servicios {
    display: flex;
    width: 80%;
}
.servicios-section-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    padding: 2rem;
}

.servicios-detailed {
    margin: 0.5rem;
    padding: 1rem;
    border: .1rem solid #302F40; 
}
.sobre-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2rem;
    text-align: justify;
}
.contacto-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 3rem;

}
.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 2rem;
    text-align: justify;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}
h1 {
    font-family: 'Farro' sans-serif;
    font-size: 6rem;
    color: #205A92;
}
h2 {
    font-family: 'Farro' sans-serif;
    font-size: 3rem;
    color:#205A92;
    text-align: center;
    padding: 10px;
}
h3 {
    font-family: 'Farro' sans-serif;
    font-size: 1.5rem;
    color:#205A92;
    text-align: center;
    padding: 10px;
}
.footer {
    color: #fff;
}

.footer-a {
    color: #fff;
    border-bottom: 0.1rem solid #5A5C8C;
}
label {
    margin: 0.35rem;
}

input, textarea{
    border: 0.1rem solid #302F40;
    border-radius: 0.25rem; 
    padding: 0.25rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.767);
}
button {
    background-color: #205A92;
    border: 0.1rem solid #205A92;
    border-radius: 0.25rem; 
    color: #fff;
    padding: 0.25rem;
}
button:hover {
    background-color: #5A5C8C;
    border: 0.1rem solid #5A5C8C;
    color: #fff;
}

ul{
    list-style-type: none;
}

a {
	text-decoration: none;
	color: #5A5C8C;
	padding: 5px;
	margin: 5px;
}

a:hover {
	color: black;
}

/*Servicios*/
.row,
.row > .column {
  padding: 8px; }

.column {
  float: left;
  width: 25%; }

.row:after {
  content: "";
  display: table;
  clear: both; }

.content {
  background-color: #e0e0e0;
  padding: 10px; }

@media screen and (max-width: 900px) {
  .column {
    width: 50%; } }

@media screen and (max-width: 600px) {
  .column {
    width: 100%; } }